<h1>New Product</h1>
<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<% end %>
<form class="" action="/products" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Category: <select name="category">
    <% @cats.each do |i| %>
      <option value="<%=i.id%>"><%=i.name%></option>
    <% end %>
  </select>
  Name: <input type="text" name="product[name]" value="">
  Description: <input type="text" name="product[description]" value="">
  Price: <input type="float" name="product[pricing]" value="">
  <input type="submit" name="" value="Create">
</form>
<a href="/products">Back</a>
