<%= link_to 'My Profile', '/professional_profile' %></br>
</br>
<h2>Users you may want to connect with:</h2>
<table>
  <tr>
    <th>Name</th><th>Actions</th>
  </tr>
  <% @users.each do |i| %>
    <tr>
      <td><%= link_to "#{i.name}", user_path(i) %></td>
      <td><%= link_to 'Connect', "/invite/#{i.id}"%></td>
    </tr>
  <% end %>
</table>
