<form class="" action="/middle" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Your Name: <input type="text" name="info[name]" value="">
  Dojo Location: <input type="text" name="info[location]" value="">
  Favorite Language: <select class="" name="info[language]">
    <option value="Python">Python</option>
    <option value="Ruby">Ruby</option>
    <option value="Javascript">Javascript</option>
  </select>
  Comment (optional): <textarea name="info[comment]" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Submit">
</form>
